
<h2>Question <%= questionIndex + 1 %> of <%= quiz.questions.length %></h2>
<% if (flashMessages) { %>
    <% if (flashMessages.correct) { %>
        <p><%= flashMessages.correct %></p>
    <%} else if(flashMessages.incorrect) {%>
       <p><%= flashMessages.incorrect %></p>
    <%}%>
<%}%>
 
<form action="<%= `/quizzes/${quiz._id}/question/${questionIndex}/grade` %>" method="POST">
    <h4><%= question.statement %></h4>
    <input type="hidden" name="answers" value="">
    <% question.options.forEach((option, index) => { %>
        <div>
            <input type="radio" name="userAnswer" id="<%= index %>" value="<%= option %>">
            <label for="<%=index%>"><%= option %></label>
        </div>
    <%});%>
     <button type="submit">Submit</button>
</form>

<%- contentFor('title') %>
<%= quiz.title %>